[Unit]
Description=Music Auto-Import Bot
After=network.target

[Service]
User=musicbot
EnvironmentFile=/musicbot/.env
ExecStart=/bin/bash/musicbot/musicbot.sh
Restart=always
RestartSec=30
StandardOutput=append:/var/log/musicbot/processor.log
StandardError=append:/var/log/musicbot/error.log

[Install]
WantedBy=multi-user.target