[Unit]
Description=Music Auto-Import Bot
After=network-online.target
Requires=network-online.target

[Service]
User=musicbot
EnvironmentFile=/opt/musicbot/.env
Type=simple
ExecStart=/bin/bash /opt/musicbot/musicbot.sh
Restart=always
RestartSec=30
StandardOutput=append:/var/log/musicbot/processor.log
StandardError=append:/var/log/musicbot/error.log

[Install]
WantedBy=multi-user.target